
.ForgotPassword-container {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.ForgotPassword-container-sign {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 35%;
    padding-block: 100px;
}

.ForgotPassword-h1-sign {
    padding: 20px;
	font-weight: bold;
	margin: 0;
}