 .admin_title2{
    font-weight: 700; 
     font-size: 20px;
     color: #448ae7;
     margin: 20px 0;
 }
 .admin_title1{
    font-weight: 700;
    font-size: 20px;
    color: #5e6e82;
    margin: 20px 0;
}
