@import 'react-slideshow-image/dist/styles.css';

:root {
  --primary-color: #91c2cc;
  --primary-light-color: #91c2cc80;
  --primary-hover-color:  #63b9cd;
  /* --primary-text-hover:  */
  --white-color: #fff;
  --black-color: #000;
  --background__color: #f5f5f5;
  --background-bar__color: #ededed;
  --text-color: #555555;
  --btn-hover-color: #37a2b8;
  --header-with-search: calc(var(--header-height) - var(--header-navbar));
  --header-height: 70px;
  --footer-height: 70px; 
}

@keyframes floating {
  0%   { transform: translate(0, 0px); transition: 3s ease-in-out; }
  50%  { transform: translate(0, -10%); transition: 1s ease-in-out; }
  100% { transform: translate(0, 0px); transition: 1s ease-in-out; }
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  background-color: var(--btn-hover-color);
  color: var(--white-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.primary {
  color: var(--primary-color);
}

.primary:hover {
  cursor: pointer;
  color: var(--primary-hover-color) !important;
}

.block-separation {
  width: 100%;
  display: block;
  border-top: 1px solid var(--primary-color); 
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.text-center {
  text-align: center !important;
}

.primary-color {
  color: var(--primary-color) !important;
}

.separation-color {
  color: #dbdbdb !important;
  border-color: #e4e4e4 !important;

}

.primary-link:hover {
  color: var(--primary-color);
}

/* layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  height: 100%;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  grid-area: header;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  /* background: linear-gradient(0, var(--primary-2-color), var(--primary-color)); */
  line-height: 42px;
  z-index: 100;
}

main {
  grid-area: main;
  /* position: relative; */
  height: 100%;
  max-width: 100%;
  /* padding: 1rem; */
  margin-bottom: 30px;
  background-color: #f7f7f7;
}

footer {
  grid-area: footer;
  /* background: linear-gradient(0, var(--primary-color), var(--primary-2-color)); */
  background-color: var(--primary-color); 
  color: var(--white-color);
}

.link {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.link:hover {
  cursor: pointer;
  color: var(--primary-hover-color);
}

li {
  list-style-type: none;
}

input[type=checkbox] {
  /* Sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
  padding: 8px;
}

button:disabled {
  cursor: default;
  background-color: #ccc !important;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

a:hover {
  color: #000;
}

@media (prefers-reduced-motion: reduce) {
  .a {
    transition: none;
  }
  .link{
    transition: none;
  }
}

ul {
  padding-left: 0;
  list-style-type: none;
}

img {
  border-radius: inherit;
  object-fit: contain;
}

h2 {
  text-transform: capitalize;
}

select:focus-visible,
textarea:focus-visible {
  /* color: var(--primary-color); */
  outline: 1px solid var(--primary-color);
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.beetween {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.left {
  align-items: center;
  justify-content: left;
  flex-wrap: nowrap;
}

.row {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
}

.row.center {
  align-items: center !important;
  justify-content: center !important;
}

.row.top {
  align-items: flex-start !important;
}

.row.left {
  align-items: center !important;
  justify-content: left !important;
  flex-wrap: wrap !important;
}

.row.flex-column {
  flex-direction: column;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.row-cols-7 > * {
  flex: 0 0 auto;
  width: 8.3333333334%;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.m-1 {
  margin: 4px !important;
}

.m-2 {
  margin: 8px !important;
}

.m-3 {
  margin: 16px !important;
}

.m-4 {
  margin: 32px !important;
}

.mx-1 {
  margin: 0 4px !important;
}

.mx-2 {
  margin: 0 8px !important;
}

.mx-3 {
  margin: 0 16px !important;
}

.mx-4 {
  margin: 0 32px !important;
}

.my-1 {
  margin: 4px 0 !important;
}

.my-2 {
  margin: 8px 0 !important;
}

.my-3 {
  margin: 16px 0 !important;
}

.my-4 {
  margin: 32px 0 !important;
}

.ml-1 {
  margin-left: 4px !important;
}

.ml-2 {
  margin-left: 8px !important;
}

.ml-3 {
  margin-left: 16px !important;
}

.ml-4 {
  margin-left: 32px !important;
}

.mr-1 {
  margin-right: 4px !important;
}

.mr-2 {
  margin-right: 8px !important;
}

.mr-3 {
  margin-right: 16px !important;
}

.mr-4 {
  margin-right: 32px !important;
}

.p-1 {
  padding: 4px !important;
}

.p-2 {
  padding: 8px !important;
}

.p-3 {
  padding: 16px !important;
}

.p-4 {
  padding: 32px !important;
}

.px-1 {
  padding: 0 4px !important;
}

.px-2 {
  padding: 0 8px !important;
}

.px-3 {
  padding: 0 16px !important;
}

.px-4 {
  padding: 0 32px !important;
}

.py-1 {
  padding: 0 4px !important;
}

.py-2 {
  padding: 8px 0 !important;
}

.py-3 {
  padding: 16px 0 !important;
}

.py-4 {
  padding: 32px 0 !important;
}

.pl-1 {
  padding-left: 4px !important;
}

.pl-2 {
  padding-left: 8px !important;
}

.pl-3 {
  padding-left: 16px !important;
}

.pl-4 {
  padding-left: 32px !important;
}

.pr-1 {
  padding-right: 4px !important;
}

.pr-2 {
  padding-right: 8px !important;
}

.pr-3 {
  padding-right: 16px !important;
}

.pr-4 {
  padding-right: 32px !important;
}

/* .nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 0;
} */

.navbar {
  /* position: relative; */
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  display: block;
}

.nav-link {
  padding: 26.5px 16px;
  color: var(--white-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}

/* .nav-link:hover {
  background-color: var(--primary-hover-color);
  color: var(--black-color);
} */

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.active {
  background-color: var(--primary-hover-color);
  color: #000;
}

/* Header */
.banner {
  margin: 0 auto;
  /* width: 100%; */
  max-width: 98vw;
}

.header__navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  height: 70px;
}

.header__brand, .footer__brand {
  font-size: 36px;
  color: var(--white-color)!important;
  background: linear-gradient(to right, #2A26E3 0.41%, #F32154 99.75%);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
}

  /* Search */

.header__search {
  margin: 0;
  background-color: var(--white-color);
  min-width: 100px;
  width: calc(100% / 5);
  padding-right: 0;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;


}

.header__search-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
}

.header__search-icon {
  color: var(--text-color);
  font-size: 12px;
  margin: 8px 4px;
}

.header__search-input {
  flex: 1;
  color: var(--text-color);
  border: none;
  border-radius: 2px;
  margin-right: 8px;
}

.header__search-input:focus-visible {
  outline: none;
}

.btn-search {
  font-size: 18px;
  height: 90%;
  border: none;
  background: transparent;
  color: var(--primary-color);
  margin: 1px 5px 0 5px ;
}
.btn-search:hover {
  cursor: pointer;
  color: var(--primary-hover-color);
}

  /* Cart */
.header__cart {
  position: relative;
  top: 10px;
  cursor: pointer;
}

.header__cart:hover .header__cart-list{
  display: flex;
}

.header__cart-icon{
  color: white;
  font-size: 24px;
}

.header__cart-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  /* background-color: red; */
  width: 100%;
  height: 15px;
}


/* .header__cart::after {
  content: "";
  position: absolute;
  display: block;
  top: 30px;
  width: 120%;
  height: 20px;
  background-color: red;
} */

.header__cart-list {
  position: absolute;
  top: 90%;
  right: -8px;
  width: 400px;
  max-height: 500px;
  overflow-y: scroll;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 3em 0 rgb(0 0 0 / 20%);
  display: none;
  justify-content: left;
  flex-direction: column;
  color: #000;
}

/* .header__cart-list::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 16px;
  border-width: 10px 16px;
  border-style:solid;
  border-color: transparent transparent var(--white-color) transparent;
} */

/* Account */
.account-wrap {
  width: 110px;
  padding-left: 4px;
  border-radius: 20px; 
}

.account-wrap:hover {
  background-color: var(--primary-hover-color);
}

.header__account {

}

.header__account span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box; */
  /* -webkit-box-orient: vertical; */
  /* -webkit-line-clamp: 1; */
}

i {
  width: 33px;
  min-width: 33px;
  height: 33px;
  min-height: 33px;
  padding: 8px;
  border: 1px solid var(--primary-hover-color);
  border-radius: 50%;
  background-color: #fff;
  color: #000;
}

.account__selection-icon {
  position: relative;
  margin: 0 4px;
  cursor: pointer;
}

.account__selection-icon:hover .account__selection{
  display: block;
}

.account__selection {
  position: absolute;
  display: none;
  width: 120px;
  top: calc(100% + 8px);
  right: 0px;
  background: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.account__selection::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 20px;
  transform: translate(76px, -17px);
  /* background: #2A26E3; */
}

/* Main */
  /* Home Screen*/

.home__category-wrap::before {
  content: "";
  position: relative;
  display: block;
  top: -22px;
  margin: 0 auto;
  width: 150px;
  border: 1px solid var(--primary-color);
  background: #2A26E3;
}

.home__category-item {
  position: relative;
  margin: 0px 40px;
}

.home__category-item:hover {
  animation: floating 2s ease-in-out infinite;
  /* animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite; */
}

.home__container {
  width: 100%;
  margin: 32px 0;
}

.home__title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
}

.home__products {
  /* position: relative; */
  margin: 0 -4px;
  justify-content: left;
  flex-wrap: nowrap;
}

.home__product {
  position: relative;
  border: 1px solid var(--primary-color);
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border-radius: 2px;
  font-size: 16px;
  line-height: 1.5;
  transition: transform ease-in 0.1s;
  will-change: transform;
}

.home__product:hover {
  transform: translate(1px, -2px);
}

.home__product-img {
  object-fit: contain;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgb(0 0 0 / 0.05);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home__product-name {
  height: 3em;
  line-height: 1.5em;
  /* display: block; */
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home__product-price {
  color: red; 
}

.home__product--minicart {
  display: inline-flex;
  justify-content: left;
  line-height: 1;
}

.home__product-name--minicart {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.home__product-price--minicart {

}

.home__product--cart {
  display: inline-flex;
  justify-content: left;
  line-height: 1;
  font-size: 20px;
}

.home__product-name--cart {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.home__product-price--cart {

}

.btn-remove {
  position: absolute;
  top: 0;
  right: 0;
}

  /* Product Details Screen*/
.path {
  width: 100%;
  height: 32px;
  background-image: linear-gradient(90deg , var(--primary-color), var(--primary-light-color));
  margin: 16px 0;
  opacity: 0.9;
}

.product__img {
  width: 50%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.product__img--primary {
  align-items: center;
  width: 70%;
  max-height: 600px;
  margin: 16px;
}

.product__info {
  /* display: flex; */
  /* align-items: center; */
  width: 40%;
  padding: 16px;
  line-height: 1.4;
  font-size: 16px;
}

.product__name {
  font-size: 32px;
  font-weight: bold;
}

.product__price {
  font-size: 24px;
  color: red;
}

.product__brand {

}

.product__type {

}

.product__amount {

}

.product__sold {
  color: var(--text-color);
}

.product__description {
  margin: 16px 0;
}

#order {
  font-size: 16px;
}

  /* All Products Screen */
.category {
  background-color: #fff;
  padding: 0 16px 16px;
}

.category__heading {
  text-transform: capitalize;
  margin: 0;
  padding-top: 4px;
}

.category__list {
  font-size: 13px;
  list-style-type: none;
  margin: 0;
}

.category__item {
  border-top: 1px solid var(--primary-light-color);
  padding: 10px 0;
  cursor: pointer;
}

.category__item::first-letter {
  text-transform: capitalize;
}

.category__item:first-child {
  border-top: none;
}

.products {
  background-color: #fff;
}

/* Cart Screen */
.cart__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 50px;
  overflow: hidden;
  text-transform: capitalize;
}

.cart__title > span {
  color: #888;
  width: 15%;
  text-align: center;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
  padding: 10px 0;
}

.cart__item--img {
  border: 1px solid #ededed;
}

.cart__item--name {
  width: 290px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  /* word-break: break-all; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding-left: 8px;

}

.cart__item--price {
  width: 15%;
}

.cart__item--qty {
  width: 15%;
}

.cart__item--money {
  width: 15%;
}

.cart__item--delete {
  width: 15%;
}

.cart__footer--wrap {
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.cart__footer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

  /* Info Order */

/* Profile Screen */
.form-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background: #fff;
  margin: 32px auto;
}

.form-wrap {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.form-wrap > * {
  width: 100%;
}

.form-input {
  padding: 8px;
  margin: 10px 0;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
}

.form-input:focus-visible {
  outline: none;
}

.form-input--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-input--wrap > .form-input {
  width: 70%;
}

.form-btn {
  font-size: 12px;
  width: 25%;
}







/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: nowrap;
}



/* Slide Show Image */

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 250px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

#logout {
  width: 100%;
}

.buttons_added {
  opacity:1;
  display:-ms-inline-flexbox;
  display:inline-flex;
  white-space:nowrap;
  vertical-align:top;
}
.is-form {
  overflow:hidden;
  position:relative;
  background-color:#f9f9f9;
  height:2.2rem;
  width:1.9rem;
  padding:0;
  text-shadow:1px 1px 1px #fff;
  border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
  outline:none;
}
.is-form.minus {
  border-radius:4px 0 0 4px;
}
.is-form.plus {
  border-radius:0 4px 4px 0;
}
.input-qty {
  background-color:#fff;
  height:2.2rem;
  text-align:center;
  font-size:1rem;
  display:inline-block;
  vertical-align:top;
  margin:0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  border-left:0;
  border-right:0;
  padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin:0;
}

/* Quatity */

.qty--wrap {
  display: inline-flex;
  display:-ms-inline-flexbox;
  white-space: nowrap;
  vertical-align: top;
  width: 120px;
}

.cart__item > .qty--wrap {
  width: 15%;
  height: 60px;
}

.qty__btn {
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 0;
  border-radius: 0px;
}

.qty__btn:focus,.qty__input:focus-visible {
  outline:none;
}
.qty__btn.minus {
  border-radius:4px 0 0 4px;
}
.qty__btn.plus {
  border-radius:0 4px 4px 0;
}

.qty__input {
  background-color:#fff;
  height:100%;
  width: 100%;
  display:inline-block;
  text-align:center;
  font-size:1rem;
  vertical-align:top;
  margin:0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  border-left:0;
  border-right:0;
  padding:0;
}

.qty__input::-webkit-inner-spin-button, .qty__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}




/* Modal */
/* .modal {

/* Modal
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
  margin: 0.25rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
 */
